body {
    margin:0;
    background-color:hsl(210, 46%, 95%);
    font-size:13px;
    font-family: 'Manrope', sans-serif;
}
#page {
    height: 100dvh;
    display: flex;
    justify-content: center;
}
#container {
    align-self: center;
    box-shadow: 10px 30px 25px hsl(214, 17%, 85%);
    min-width:650px;
    max-width: 665px;
    background-color: white;
    /* min-height: 45dvh; */
    flex-basis: 50%;
    border-radius:10px;
    display:flex;
}
h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
    margin:0;
}
p {
    font-family: 500;
    color: hsl(214, 17%, 51%);
}
#image {
    flex-basis: 30%;
    background-image: url("/images/drawers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    border-radius:10px 0 0 10px;
    background-position-x:-20px;
 
}
.main {
    flex-basis: 55%;
    padding:30px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
#profilePicture {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url("/images/avatar-michelle.jpg");
}
#profile {
    display: flex;
    position: relative;

}
#lower {
    display: flex;
    justify-content: space-between;
}
#share {
    align-self: center ;
}
.share > button {
    border:none;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
}
#details {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#name > span {
    font-weight: 700;
    color:hsl(217, 19%, 35%);;
}
#date > span {
    color:hsl(214, 17%, 51%);
}
.share > button:hover {
    background-color: hsl(217, 19%, 35%);
    color:white;
}

#arrowHead {
    width:20px;
    z-index: -1;
    height: 20px;
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    bottom: -20%;
    transform: rotate(45deg);
}
.activeMode{
    z-index:2;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    color:hsl(214, 17%, 51%);
    font-weight: 500;
    padding:0 10px;
    background-color: hsl(217, 19%, 35%);
    width:220px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px hsl(217, 19%, 80%);
    top:-200%; 
    letter-spacing: 3px;
    right:-350%;
}
.activeMode > div {
    align-self: center;

}
.activeModeMobile {
    position: relative;
    height: 100%;
    left:0%;
    top:0%;

}
@media (min-width:100px) and (max-width:620px)
{
    #container {
        min-width: 260px;
        flex-direction: column;
        flex-basis:90%;
        min-height: 500px;
        max-width: 350px;
        box-shadow: unset;

    }
    #image {
        min-height:200px;
        min-width: 100%;
        /* flex-basis: %; */
        min-width: 100%;
        background-position: unset;
        background-position-y:-20px ;
        border-radius: 10px 10px 0 0;
        flex-grow: 1;
    }
    .main{
        flex-grow: 1;
    }
    .activeMainMobile {
        padding-bottom: 0px;
    }
    .activeMobile {
        height: 80px;
        border-radius: 0 0 10px 10px;
        justify-content: space-evenly;
        background-color: hsl(217, 19%, 35%);
        display: none;
    }
    h1{
        font-size:1.05rem;
    }
    #socials {
        width:60%;
        justify-content: space-around;
    }
    #socials > div {
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    #activeLowerMobile {
        height:65px;
        border-radius: 0 0 10px 10px;
        display:none;
    }
    .activatedMain {
        padding-bottom: 0px;
    }
    #shareText {
        letter-spacing: 3px;
        font-weight: 500;
        color:hsl(214, 17%, 51%);
    }
    .share {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
}